div{
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  padding: 40px;
}

md-input-container {
    width: 100%;
}

button {
    width: 100%;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

