.page-header{
    margin:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #FF9100;
}

.page-header h1{
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 50px;
    color: white;
}

.row{
    margin: 50px 70px;
}