<app-header></app-header>
<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="true" class="admin-sidenav">
    <ul>
      <li>
        <a href="javascript:void(0);" (click)="value='users'" [ngClass]="{'active': value==='users'}">Users</a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="value='products'" [ngClass]="{'active': value==='products'}">Products</a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="value='rt'" [ngClass]="{'active': value==='rt'}">Real Time</a>
      </li>
    </ul>
  </md-sidenav>
  <div class="md-sidenav-content" [ngSwitch]="value">
    <app-user-list *ngSwitchCase="'users'"></app-user-list>
  </div>
</md-sidenav-container>